*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.chat {
  width: 320px;
  height: 533px;
  padding: 8px;
}

.chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.chat__settings-button,
.chat__exit-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #000;
  padding: 7px 8px;
  background-color: transparent;
  cursor: pointer;
}

.chat__inner {
  border: 1px solid #000;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column-reverse;
  height: 440px;
  overflow-y: auto;
  position: relative;
}

.chat__inner::-webkit-scrollbar {
  width: 0;
}

.my-message {
  align-self: end;
  text-align: right;
  background-color: #f7f7f7;
}

.partners-message {
  align-self: start;
  background-color: #e5e5e5;
}

.message {
  max-width: 288px;
  padding: 8px;
  margin-bottom: 8px;
}

.message__time {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}

.my-message.message__time {
  text-align: right;
}

.message__text {
  margin-bottom: 4px;
}

.chat-form {
  display: flex;
  justify-content: space-between;
}

.chat-form__input {
  border: 1px solid #000;
  padding: 7px;
  flex-grow: 1;
  margin-right: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.chat-form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7c7c7c;
}

.chat-form__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 7px;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(84, 83, 83, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal-overlay--open {
  display: flex;
}

.modal {
  width: 273px;
  height: 319px;
  background-color: #fff;
  padding: 16px 14px;
}

.modal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.modal__close {
  background-image: url('../img/close-icon.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__text {
  margin-bottom: 8px;
}

.confirm-form,
.auth-form {
  flex-wrap: wrap;
}

.confirm-form__input,
.auth-form__input {
  margin: 0 0 7px 0;
}

@-webkit-keyframes scaling-circle {
  0%,
  30%,
  50%,
  100% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px))
      scale(1);
    transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
  }
  40% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px))
      scale(0);
    transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0);
  }
}
@keyframes scaling-circle {
  0%,
  30%,
  50%,
  100% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px))
      scale(1);
    transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
  }
  40% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px))
      scale(0);
    transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0);
  }
}

.scaling-circle {
  display: none;
  --radius: 25;
  --size: 10;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scaling-circle div {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100%;
  background: #000;
  -webkit-animation: scaling-circle 0.8s calc(var(--delay) * 1s) infinite ease;
  animation: scaling-circle 0.8s calc(var(--delay) * 1s) infinite ease;
  -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px));
  transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px));
}
.scaling-circle div:nth-child(1) {
  --angle: 45;
  --delay: 0.1;
}
.scaling-circle div:nth-child(2) {
  --angle: 90;
  --delay: 0.2;
}
.scaling-circle div:nth-child(3) {
  --angle: 135;
  --delay: 0.3;
}
.scaling-circle div:nth-child(4) {
  --angle: 180;
  --delay: 0.4;
}
.scaling-circle div:nth-child(5) {
  --angle: 225;
  --delay: 0.5;
}
.scaling-circle div:nth-child(6) {
  --angle: 270;
  --delay: 0.6;
}
.scaling-circle div:nth-child(7) {
  --angle: 315;
  --delay: 0.7;
}
.scaling-circle div:nth-child(8) {
  --angle: 360;
  --delay: 0.8;
}

.preloader--active {
  display: block;
}
